@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}



<header class="my" id="page-header">
    <div class="position-relative overflow-hidden text-center bg-l
        ight" style="background-image: url(https://il8.picdn.net/shutterstock/videos/8414809/thumb/1.jpg) ">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-3 font-weight-normal" style="color: white">Log in.</h1>
        </div>
    </div>
</header>


<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="card p-4">
                    <div class="card-body">
                        <h4>¡Mantente en contacto!</h4>
                        <p>Inicia sesión en neustra página para obtener las ventajas de tener una calculadora de Bonos.</p>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">¿Olvidaste tu contraseña?</a>
                        </p>
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">¿No tienes una cuenta?</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <form id="account" method="post">
                    <div class="col-md-8">
                        <div class="card p-4">
                            <div class="card-body">
                                <h3 class="text-center">Ingresa tus datos para iniciar sesión.</h3>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" />
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-danger btn-block">Log in</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
