@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<header class="my" id="page-header">
    <div class="position-relative overflow-hidden text-center bg-l
        ight" style="background-image: url(https://lh3.googleusercontent.com/proxy/_sOr_TIQWZ7BHCvIznrciuzX40XAGV81mLf1y6qLQKvmsfW8jjyruBWY56H30u_XjcVKmFpCw-XQhXh4lMarmVA29_xD-tAXB9ERtFCOawMX2wezckNP9_YeQF3nSxFaWnPectzcumBiY3ukdAb1TDYskYetZHytO87TB3NW_iJA4k4pLlYdej1Sc96YTZElK-lqZsdEWJt4CnaIyKFKNuoXIR4) ">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-3 font-weight-normal" style="color: white">Register.</h1>
        </div>
    </div>
</header>


<section class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <form id="account" method="post">
                    <div class="col-md-8">
                        <div class="card p-4">
                            <div class="card-body">
                                <h3 class="text-center">Ingresa tus datos para registrarse.</h3>
                                <hr />
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-Create a new accountgroup">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <a href="E:\Finanzas\Bonos\BonosCalculadora\BonosCalculadora\Areas\Identity\Pages\Account\Register.cshtml"></a>
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Input.ConfirmPassword"></label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-outline-danger btn-block">Register</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
