@model BonosCalculadora.Models.FrecuenciaPago

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Identity/Pages/_ViewStart.cshtml";
}

<h1>Create</h1>

<h4>FrecuenciaPago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CalculadoraId" class="control-label"></label>
                <select asp-for="CalculadoraId" class ="form-control" asp-items="ViewBag.CalculadoraId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tipofrecuencia" class="control-label"></label>
                <input asp-for="Tipofrecuencia" class="form-control" />
                <span asp-validation-for="Tipofrecuencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Diasfrecuencia" class="control-label"></label>
                <input asp-for="Diasfrecuencia" class="form-control" />
                <span asp-validation-for="Diasfrecuencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
