

    <body>
        <div class="position-relative overflow-hidden text-center bg-l
     ight" style="background-image: url(https://altativ.com/wp-content/uploads/2020/01/mantenimiento.png) ">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-3 font-weight-normal" style="color: lightseagreen">LAW</h1>
                <p class="lead font-weight-normal" style="color: navajowhite">¡Calculamos tus bonos en un instante!</p>
                <a class="btn btn-outline-secondary" href="#" style="color:papayawhip">Comenzar.</a>
            </div>
        </div>

        <section id="home-icons" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4 text-center">
                        <i class="fas fa-cog fa-3x mb-2"></i>
                        <h3>Turning Gears</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
                    </div>
                    <div class="col-md-4 mb-4 text-center">
                        <i class="fas fa-cloud fa-3x mb-2"></i>
                        <h3>Sending Data</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
                    </div>
                    <div class="col-md-4 mb-4 text-center">
                        <i class="fas fa-cart-plus fa-3x mb-2"></i>
                        <h3>Making Money</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero, veniam.</p>
                    </div>
                </div>
            </div>
        </section>


    </body>
