
<body>


    <header class="my" id="page-header">
        <div class="position-relative overflow-hidden text-center bg-l
        ight" style="background-image: url(https://aglv.es/wp-content/uploads/2019/05/finanzas.jpg) ">
            <div class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-3 font-weight-normal" style="color: lightseagreen">Nosotros</h1>
                <p class="lead font-weight-normal" style="color: white">Somos TÚ empresa de cálculo de bonos.</p>
            </div>
        </div>
    </header>

    <!-- ABOUT SECTION -->

    <section class="my-5" id="Qué hacemos?" cl>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1 class="ml-3" style="color: lightseagreen">¿Qué hacemos?</h1>
                    <p class="blockquote" class1="text-justify">
                        LAW es una aplicación web, por ello es de fácil acceso para cualquier empresa, esto
                        implica que LAW no tiene ningún tipo de restricción. De esta manera, conforme las
                        empresas vayan interactuando con el producto se le podrá hacer seguimiento lo cual
                        ayudará a mejorarlo.
                    </p>
                    <p class="blockquote" class1="text-justify">
                        LAW App busca ayudar a entidades con el fin de apoyar en su expansión financiera,
                        al reducir el tiempo de espera por parte de los clientes a fin de mejorar su relación
                        con el cliente y que de esta manera la atención sea eficaz. Gracias a la gran velocidad
                        de cálculos de LAW logrará tener un fácil acceso a información lo cual ayudará a identificar
                        las variables y realizar cálculos precisos.
                    </p>
                </div>
                <div class="col-md-5">
                    <img src="https://source.unsplash.com/random/700x700/?finances" alt="" class="img-fluid rounded-circle  d-md-block about-img">
                </div>
            </div>
        </div>
    </section>

    <!-- ICON BOXES -->
    <section id="about" class="py-5 text-center bg-light">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="pb-3" style="color: lightseagreen">
                            ¿Cuál es el libro de referencia para este proyecto?
                        </h1>
                        <p class="lead pb-3">
                            El E-financeboook, una Herramienta de calculo financiero en linea, calculadora financiera web, Planes de Pago, Cronogramas de Pago, Matematica Financiera, Red Social Financiera.
                        </p>
                        <div>
                            <img src="~/img/book .jpg" width="200" height="400" class="img-fluid">
                        </div>
                    </div>

                    <!-- ACCORDION -->
                    <div id="accordion">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <div href="#collapse1" data-toggle="collapse" data-parent="#accordion">
                                        <i class="fas fa-arrow-circle-down"></i> Finanzas
                                    </div>
                                </h5>
                            </div>

                            <div id="collapse1" class="collapse show">
                                <div class="card-body justify-content-around">
                                    Las finanzas son una rama de la administración que trata el tema relacionado con la obtención y
                                    gestión del dinero, recursos o capital por parte de una persona o empresa. Las finanzas se refieren a
                                    la forma cómo se obtienen los recursos, a la forma cómo se gastan o consumen, a la forma cómo se invierten,
                                    pierden o rentabilizan. Por lo tanto,
                                    el concepto ampliado de finanzas es el de una ciencia que,
                                    utilizando modelos matemáticos, brinda las herramientas para optimizar los recursos materiales de las empresas y de las personas.
                                </div>
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="authors" class="my-5 text-center">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="info-header mb-5">
                        <h1 class="pb-3" style="color: lightseagreen">
                            Conoce a nuestro equipo
                        </h1>
                        <p class="lead">
                            Equipo de trabajo.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/img/Lutimi.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Luis Ticona</h3>
                            <h5 class="text-muted">Editor</h5>
                            <p>
                                Luis Ticona, edad 20 años, nacio en Perú,  en la ciudad de Arequipa
                                , estudiante de la carrera de software en la universidad peruana de ciencias aplicadas. Como rol en este proyecto, Luis es desarrollor en Frontend..
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com/Lutimi1">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">

                                </div>
                                <div class="p-4">
                                    <a href="http://instagram.com/lutimi1">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/img/aji.png" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Hillary Moscoso</h3>
                            <h5 class="text-muted">Editor</h5>
                            <p>
                                Hillary Moscoso, edad 20 años, nacio en Perú ,  en la ciudad de Lima
                                , estudiante de la carrera de software en la universidad peruana de ciencias aplicadas. Como rol en este proyecto, Hillary es desarrollora en Frontend.
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://www.facebook.com/hillary.moscoso">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>

                                <div class="p-4">
                                    <a href="https://www.instagram.com/blancer1/">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/img/gnomo.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Fernando Valdiviezo</h3>
                            <h5 class="text-muted">Leader</h5>
                            <p>
                                Fernando Valdiviezo, edad 21 años, nacio en Perú ,  en la ciudad de Lima
                                , estudiante de la carrera de software en la universidad peruana de ciencias aplicadas. Como rol en este proyecto Fernando, es el actual jefe de proyecto.
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://www.facebook.com/fernando12367">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>

                                <div class="p-4">
                                    <a href="https://www.instagram.com/vindiesel/">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/img/carlos.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Carlos Obispo</h3>
                            <h5 class="text-muted">Designer</h5>
                            <p>
                                Carlos, edad 20 años, nacio en Perú ,  en la ciudad de Huaral
                                , estudiante de la carrera de software en la universidad peruana de ciencias aplicadas. Como rol en este proyecto, Carlos ayudo en la documentacion del proyecto.
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="https://www.facebook.com/obisporicapa">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>

                                <div class="p-4">
                                    <a href="http://instagram.com/ZBishop">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/img/utau.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Teresa Flores</h3>
                            <h5 class="text-muted">Sistemas</h5>
                            <p>
                                Teresa una alumna de Sistemas que nació en Perú. Ella se encargó de la explicación de los ejercicios en cuestión y la documentación del presente trabajo.
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com/Lutimi1">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">

                                </div>
                                <div class="p-4">
                                    <a href="http://instagram.com/lutimi1">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <img src="~/img/caroline.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
                            <h3>Caroline Ranilla</h3>
                            <h5 class="text-muted">Sistemas</h5>
                            <p>
                                Caroline una alumna de Sistemas que nació en Perú. Ella se encargó de la explicación de los ejercicios en cuestión y la documentación del presente trabajo.
                            </p>
                            <div class="d-flex justify-content-center">
                                <div class="p-4">
                                    <a href="http://facebook.com/Lutimi1">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                <div class="p-4">

                                </div>
                                <div class="p-4">
                                    <a href="http://instagram.com/lutimi1">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>
                        Copyright &copy;
                        <span id="year"></span> LAW coorporation
                    </p>
                </div>
            </div>
        </div>
    </footer>



    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

    <script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());

        $('.slider').slick({
            infinite: true,
            slideToShow: 1,
            slideToScroll: 1
        });
    </script>
</body>

